# COURSE: Improving data quality in data analytics & machine learning
## SECTION: Outliers and missing data
### LECTURE: Code: Dealing with bad or missing data
#### TEACHER: Mike X Cohen, sincxpress.com
##### COURSE URL: udemy.com/course/dataquality_x/?couponCode=202204

In [1]:
# import libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
# import seaborn as sns

# Import the data

In [2]:
# import the data from the web
url = "https://sincxpress.com/sampledata.csv"
df = pd.read_csv(url)

df

    var1   var2  var3
0   -5.0   15.0    -5
1  -13.0   11.0    -8
2    0.0    1.0    12
3    9.0   22.0    15
4    4.0    0.0     6
5   -7.0   24.0     0
6  -16.0   46.0   -15
7   15.0   29.0    14
8   15.0   29.0    14
9    NaN  -14.0    27
10   1.0   26.0     3
11 -10.0  129.0    -5
12  12.0   24.0    20
13  -6.0   57.0    -1
14  -5.0    NaN     2
15   9.0   12.0     8
16 -14.0   10.0    -8
17 -20.0   24.0   -10
18   4.0   -5.0    10
19   4.0   31.0     3
20   1.0   38.0     4

# Z-score to find outliers

In [ ]:
# create new columns as z-scored versions

# create a lambda function (a simple one-line function)
zscore = lambda x: (x-x.mean()) / x.std()

# loop through the variables in the dataframe
for c in df.columns:
  # apply the zscore function and map to a new column
  df[c+'_z'] = zscore(df[c])

# let's have a look!
print( df )
df.describe()

In [ ]:
# check for outliers

zThresh = 3
np.abs(df) > zThresh

In [ ]:
# find outliers

row2kill = np.array([])

for c in df.columns:
  if c[-1]=='z':

    # find the outliers and update the list of rows to reject
    hasoutliers = np.where(np.abs(df[c])>zThresh)[0]
    row2kill = np.append(row2kill,hasoutliers)

    # print a message
    print(f'{c[:-2]} has an outlier (z>{zThresh}) in row(s) {hasoutliers}')


# let's see all the rows to reject:
row2kill

In [ ]:
# remove those rows
df_dropped = df.drop(row2kill)

df_dropped.describe()

# Drop rows with NaN

In [ ]:
df_na_dropped = df.dropna()

df_na_dropped

# Interpolating missing data

In [ ]:
df['var1']#.fillna( df['var1'].mean() )

In [ ]:
# make a copy
df_interp = df.copy()

# replace NaN's column-wise
for c in df.columns:
  df_interp[c] = df[c].fillna( df[c].mean())

# show the results!
df_interp